.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
  float: left;
  border-radius: 0;
  height: 85px;
}

.navbar-nav {
  float: left;
  margin-top: -6px;
  margin-left: 87px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
  padding: 40px;
  font-weight: bold;
}

.navbar-secondary {
	margin-bottom: 0px;
}

.icon-box .icon-box-short .fa {
  font-size: 32px;
  top: 5px;
  right: 3px;
  position: relative;
  }

.navbar-inverse {
  margin-bottom: 0px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    display: none;
}

.returns-shipping {
 background: #f2f2f2;
}

.icon-box {
  display: inline-block;
  margin: -5px 30px 0;
}

.fa {
  font-size: 32px;
  top: 5px;
  right: 3px;
  position: relative;
  display: inline-block;
}

.icon-box, .icon-box-short {
  display: inline-block;
  margin: 26px 30px 0;
}

h4, .h4 {
  font-size: 18px;
  display: inline-block;
  margin: -5px 30px 0;
}

.tile {
  margin-bottom: 20px;
}

.feature {
  position: relative;
}
.feature .caption {
  width: 100%;
  color: #FFF;
  position: absolute;
  top: 0;
}

.newsletter-section {
  background: #f3e5b5;
  padding-bottom: 30px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer {
  background: #333;
}

.footer, .parent-text {
  color: #FFF;
}

.footer, .child-text {
  color: #999;
}

.social-icons li {
  display: inline-block;
}

.footer hr {
  border-top: 1px solid #fff;
}

.payment-options li {
  display: inline-block;
}

.payment {
 float:right;
 text-align: right;
}

.legal-line {
 float:left;
 text-align: left;
}

.search {
 float:right;
 text-align: right;
}

.owl-item p {
  
}

